@import "tailwindcss";

body {
  font-family: "Vazirmatn";
  direction: rtl !important;
}

#__nuxt {
  height: 100%;
}

@theme {
  --color-bg-light: #fbfbfb;
  --color-bg-dark: #111111;
  --color-primary: #ff7118;
  /* --color-divider: #d4d4d6; */
}

[dir="rtl"] .q-field__label {
  right: 0 !important;
  left: auto !important;
}
