@import "tailwindcss";

body {
  font-family: "Vazirmatn";
  direction: rtl !important;
}

#__nuxt {
  height: 100%;
}

@theme {
  --color-bg-light: #fbfbfb;
  --color-bg-dark: #111111;
  --color-primary: #ff7118;
  --radius-sm: 0.375rem;
  --radius-2xl: 1.25rem;
  /* --color-divider: #d4d4d6; */
}

[dir="rtl"] .q-field__label {
  right: 0 !important;
  left: auto !important;
}

.q-field--standout .q-field__control,
.q-btn--rounded {
  @apply rounded-2xl;
}

.q-btn,
.q-field__control {
  @apply min-h-15;
}

.q-checkbox__bg {
  @apply rounded-sm;
}

.q-field--standout.q-field--highlighted .q-field__native {
  @apply text-inherit;
}

.q-field--standout.q-field--highlighted .q-field__control {
  @apply bg-transparent;
}

.q-field__inner div[role="alert"] {
  @apply text-start;
}
